<h1><%= @user.username %>'s posts</h1>h1>

<% @user.posts.each do |post| %>
	<div class="well">
		<h3><% = post.title %></h3>
		<h3><% = post.user.username %></h3>
		<h3><% = post.blog_entry.html_safe %></h3>
	</div>